<strong>New Comment</strong>
<%= form_for [@ticket, @comment] do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :text %>
      <%= f.text_area :text, rows: 10 %>
    </p>
    <% authorized?(:"change ticket states", @project) do %>
        <p>
          <%= f.label :state_id %>
          <%= f.select :state_id, @ticket_states.map { |s| [s.name, s.id] },
                       selected: @ticket.state_id %>
        </p>
    <% end %>
    <%= render "tags/form" %>
    <%= f.submit %>
<% end %>