<%= form_for [:admin, @ticket_state] do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :background %>
      <%= f.text_field :background %>
    </p>
    <p>
      <%= f.label :color %>
      <%= f.text_field :color %>
    </p>
    <%= f.submit %>
<% end %>