<section id="project">
  <h3>Projects</h3>

  <div class="navlinks">
    <%= admins_only do %>
        <%= link_to 'New Project', new_project_path %>
    <% end %>
  </div>

  <div>
    <%= paginate @projects %>
    <ul id="projects">
      <% @projects.each do |project| %>
          <li>
            <%= render :partial => "states/project_state", :locals => {state: project.state} if project.state %>
            <%= link_to project.name, project %>
          </li>
      <% end %>
    </ul>
  </div>
</section>
