<div class="navlinks">
  <%= link_to "Users", admin_users_path %>
  <%= link_to "Ticket States", admin_ticket_states_path %>
  <%= link_to "New Project State", new_admin_project_state_path %>
</div>

<table id="state_table">
  <thead>
  <th>State</th>
  <th>Default</th>
  <th>Background</th>
  <th>Text Color</th>
  <th></th>
  <th></th>
  </thead>
  <tbody>
  <% @project_states.each do |state| %>
      <tr class='<%= cycle("odd", "even") %>' id=<%= %Q(access_state_#{state.name.downcase}) %>>
        <td><%= state.name %></td>
        <td><%= "#{state.default ? 'Yes' : ''}" %></td>
        <td><%= state.background %></td>
        <td><%= state.color %></td>
        <td><%= link_to 'Edit', edit_admin_project_state_path(state) %></td>
        <td><%= link_to "Make default", make_default_admin_project_state_path(state) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
