<%= simple_form_for [@project, @time_entry] do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs form-horizontal">
      <%= f.association :ticket %>
      <%= f.input :work_date, as: :datepicker,
                  label: "Date" %>
      <%= f.input :duration, label: "Duration", :placeholder => 'hh:mm or h.hh or mmm' %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, :disable_with => "Saving...", :value => "Save" %>
    </div>
<% end %>